.countries {
  width: 20%;
  margin-right: 1%;
  height: 95vh;
  border: 2px solid black;
  border-radius: 3px;
  padding: 10px;
  overflow: auto;
}

.list-country {
  cursor: pointer;
  user-select: none;
  margin: 5px 5px;
  transition: 100ms;
}

.list-country:hover {
  transform: scale(1.05);
}